* {
  /*border: 1px solid red;*/
  /*margin: auto;*/
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
}

/* Header Section */

.header {
align-items: center;
background-color: #404041;
height: 20%;
padding: none;
text-align: center;
width: 100%;
}

.guesser{
  font-weight: 200;
}

h1 {
  color: #DD1972;
  font-size: 4em;
  margin: auto;
  padding: 1% 0 .3% 0;
}

.header__uce {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: -3.1% 20% 0px 20%;
  text-align: center;
}

h2 {
  color: white;
  font-weight: 300;
}

.uce-line {
  background-color: white;
  height: .2vh;
  margin: 0.6vw; 
  width: 6vw;
}


/*Main Section (everything below header)*/

main {
display: flex;
height: 200;
}


/*Left Pane*/

.left-pane {
background-color: #F7F7F7;
width: 50%
}

.label-input {
  display: inline-block;
  width: auto;
}

.name-error {
  color: #DD1972;
}

.guess-error {
  color: #DD1972;
}

/*Range Card <---- Left Pane*/


.range {
  background-color: white;
  border: solid 1px #D0D2D3;
  margin: 2.1vh;
}

.range__form {
  display: flex;
  align-items: flex-start;
  padding: 0% 3% 0% 0;
}

.range__header {
  color: #404041;
  font-size: 1.3em;
  margin: 1pc .5pc;
}

#rangeputs {
  padding-left: 2%;
}

.range__label {
  color: #6E6E6E;
  display: flex;
  font-size: .9em; 
}

.range__input {
  height: 3.5vh;
  width: 15vw;
}

.range__button {
  background-color: #6E6E6E;
  border-radius: 5em;
  color: #FFFFFF;
  font-size: 2vh;
  font-weight: 600;
  height: 3.7vh;
  width: 11vw;
}

.range__error {
  visibility: hidden;
}

img {
  display: inline;
  height: .9vh;
  width: .9vw;
}

.error__text {
  color: #DD1972;
  display: inline;
  font-size: .6em;
}

#name-error-msg-1,
#guess-error-msg-1,
#name-error-msg-2,
#guess-error-msg-2 {
  display: block;
  visibility: hidden;
}

.error-info {
  display: inline;
  font-size: .5em;
}


/*Player Card <---- Left Pane*/



.player {
  background-color: white;
  border: solid .01em #D0D2D3;
  margin: 2.1vh;
}

.player__header {
  color: #6E6E6E;
  padding: 0 0 0 2%;
}

#min-display {
  color: #404041;
  font-weight: 700;
  text-decoration: underline;
}

#max-display {
  color: #404041;
  font-weight: 700;
  text-decoration: underline;
}

.player__form {
  padding: 2%;
}

.player__name{
  color: #404041;
  font-size: 1.3em;
}

.player__label {
  color: #6E6E6E;
  display: flex;
  font-size: .9em;
  font-weight: 200;
}

.player__input {
  color: #6E6E6E;
  /*font-weight: 200;*/
}

.guess-input {
  height: 5vh;
  width: 16vw;
}

#player-one-name,
#player-two-name{
  height: 5vh;
  width: 26vw;
}

.button-div {
  align-content: space-around;
  display: flex;
  justify-content: center;
}
button {
  background-color: #6E6E6E;
  border-radius: 5em;
  color: #FFFFFF;
  font-size: 1.9vh;
  font-weight: 600;
  height: 3.5vh;
  height: 5vh;
  margin: 3% 0 1% 2%;
  outline: none;
  width: 27vh;
}

button:disabled {
  background-color: #D1D2D4;
}

button:hover:enabled {
  background-color: #DD1972;
}

/*Scoreboard Card <---- Left Pane*/

.scoreboard {
  background-color: white;
  border: solid 1px #D0D2D3;
  margin: 2.1vh;
} 

.score-box {
  display: flex;
  margin: 0 0 3% 8%;
  text-align: center;
  width: 80%;
}

.scoreboard__header {
  font-size: 1.3em;
  margin: 1% 2%;
}

.scoreboard__right {
  margin: 0 5%;
  width: 50%;
}

.scoreboard__left {
  margin: 0 5%;
  width: 50%;
}

.scoreboard__player{
  color: #6E6E6E;
  font-size: 1.1em;
}

.scoreboard__label {
  color: #6E6E6E;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 1%;
}

.scoreboard__guess {
  color: #F74D9B;
  font-size: 4em;
  font-weight: 700;
  margin: 0;
}

.scoreboard__prompt {
  font-size: 1.1em;
  font-weight: 200;
  color: #6E6E6E;
  margin-top: 0;
}

#high-tip {
  color: #6E6E6E;
  font-weight: 200;
}

#low-tip {
  color: #6E6E6E;
  font-weight: 200;
}


/*Right Pane*/

.right-pane {
  background-color: #D1D2D4;
  height: auto;
  width: 50%;
}


/*Winner Card ----> Right Pane*/

.winner {
  background-color: white;
  border: solid 1px #6E6E6E;
  margin: 1.5% 4.5%;
  padding: 0 2%;
}

.winner__header {
  align-items: center;
  border-bottom: 1px solid #D0D2D3;
  color: #404041;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4.5%;
}

.header__name {

}

.winner__name {
  color: #6E6E6E;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.winner__status {
  color: #6E6E6E;
  font-size: 33px;
  font-weight: 200;
  margin: 3% 0;
  text-align: center;
}

footer {
  align-items: center;
  border-top: 1px solid #D0D2D3;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

#delete-button {
  border-radius: 50em;
  height:2vh;
  margin: 0;
  text-align: center;
  width: 1.287vw;
}

.winner__p {
  color: #6E6E6E;
  font-weight: lighter;
}

.winner__span {
  color: #404041;
  font-size: 18px;
  font-weight: 700;
}

/*@media screen and (min-width: 1391px) {

.range__header {
  font-size: 1.6em;
  margin: 1pc .5pc;
}

.range__label {
  font-size: 1.3em; 
}

.range__input {
  height: 3.5vh;
  width: 17vw;
}

img {
  height: 1.3vh;
  width: 1.3vw;
}

.player__name{
  font-size: 1.6em;
}

.player__label {
  font-size: 1.3em;
}

.guess-input {
  width: 14.6vw;
}

#player-one-name,
#player-two-name{
  width: 29vw;
}

button {
  border-radius: 5em;
  font-size: 1.1em;
  height: 3.5vh;
  height: 5vh;
  width: 22vh;
}

.scoreboard__header {
  font-size: 1.6em;
}

.scoreboard__player{
  font-size: 1.2em;
}

.scoreboard__label {
  font-size: 1.18em;
}

.scoreboard__guess {
  font-size: 6em;
}

.scoreboard__prompt {
  font-size: 1.2em;
}  
}*/