* {
  /*border: 1px solid red;*/
  /*margin: auto;*/
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
}

/* Header Section */

.header {
align-items: center;
background-color: #404041;
height: 23vh;
width: 100%;
text-align: center;
padding: none;
}

.guesser{
  font-weight: 200;
}

h1 {
  color: #DD1972;
  font-size: 4em;
  margin: auto;
  padding: 1% 0 .3% 0;
}

.header__uce {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 20% 0 20%;
}

h2 {
  color: white;
  font-weight: 300;
}

.uce-line {
  background-color: white;
  height: .2vh;
  width: 6vw;
  margin: 0 .6vw; 
}

/*Main Section (everything below header)*/

main {
display: flex;
height: 100%;
}

/*Left Pane*/

.left-pane {
background-color: #F7F7F7;
width: 50%
}

.label-input {
  display: inline-block;
  width: auto;
  padding: 1pc 1pc 1pc 0;
}

.name-error {
  color: #DD1972;
}

.guess-error {
  color: #DD1972;
}

/*Range Card <---- Left Pane*/


.range {
  background-color: white;
  border: solid 1px #D0D2D3;
  margin: 2%;
}

.range__form {
  padding: 0% 3% 0% 0;
}

.range__header {
  color: #404041;
  margin: 1pc .5pc;
}

.range-inputs {
  height: 50%;
  width: 33%;
}

#rangeputs {
  padding-left: 2%;
}

.range__label {
  display: flex;
  color: #6E6E6E; 
}

.range__input {
  width: 100%;
}

.range__button {
  border-radius: 5em;
  background-color: #6E6E6E;
  color: #FFFFFF;
  font-weight: 600;
  font-size: .9em;
  width: 11vw;
  height: 4vh;
}

.range__error {
  visibility: hidden;
}

img {
  display: inline;
  height: 1.3vh;
  width: 1.3vw;
}

.error__text {
  color: #DD1972;
  display: inline;
  font-size: .6em;
}

#name-error-msg-1,
#guess-error-msg-1,
#name-error-msg-2,
#guess-error-msg-2 {
  display: block;
  visibility: hidden;
}

.error-info {
  font-size: .5em;
  display: inline;
}


/*Player Card <---- Left Pane*/



.player {
  background-color: white;
  border: solid .01em #D0D2D3;
  margin: 2%;
}

.player__header {
  color: #6E6E6E;
  padding: 0 0 0 2%;
}

#min-display {
  color: #404041;
  font-weight: 700;
  text-decoration: underline;
}

#max-display {
  color: #404041;
  font-weight: 700;
  text-decoration: underline;
}

.player__form {
  padding: 2%;
}

.player__name{
  color: #404041;
}

.player__label {
  color: #6E6E6E;
  display: flex;
  font-weight: 200;
}

.player__input {
  color: #6E6E6E;
  font-weight: 200;
  height: 25%;
}

.guess-input {
  margin-left: 5%;
  width: 80%
}
]

#player-one-name,
#player-two-name {
  width: 170%;
}

/* .player__button {
  background-color: #6E6E6E;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 700;
  height: 24px;
  padding: 5px;
} */


.button-div {
  display: flex;
  align-content: space-around;
}
button {
  border-radius: 5em;
  background-color: #6E6E6E;
  color: #FFFFFF;
  font-weight: 700;
  height: 3.5vh;
  margin: 3% 0 1% 2%;
  outline: none;
  width: 22vh;
}

button:disabled {
  background-color: #D1D2D4;
}

button:hover:enabled {
  background-color: #DD1972;
}

/*Scoreboard Card <---- Left Pane*/

.scoreboard {
  background-color: white;
  border: solid 1px #D0D2D3;
  margin: 2%;
  /* width: 90%; */
} 

.score-box {
  display: flex;
  margin: 0 0 3% 8%;
  text-align: center;
  width: 80%;
}

.scoreboard__header {
  margin: 1% 2%;
}

.scoreboard__right {
  margin: 0 5%;
  width: 50%;
}

.scoreboard__left {
  margin: 0 5%;
  width: 50%;
}

.scoreboard__player{
  color: #6E6E6E;
}

.scoreboard__label {
  color: #6E6E6E;
  font-weight: 200;
  margin-bottom: 1%;
}

.scoreboard__guess {
  color: #F74D9B;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

.scoreboard_prompt {
  color: #6E6E6E;
  margin-top: 0;
}

#high-tip {
  color: #6E6E6E;
  font-weight: 200;
}

#low-tip {
  color: #6E6E6E;
  font-weight: 200;
}






/*Right Pane*/

.right-pane {
  background-color: #D1D2D4;
  height: auto;
  width: 50%;
}

/*Winner Card ----> Right Pane*/

.winner {
  background-color: white;
  border: solid 1px #6E6E6E;
  margin: 1.5% 4.5%;
  padding: 0 2%;
}

.winner__header {
  align-items: center;
  border-bottom: 1px solid #D0D2D3;
  display: flex;
  margin-bottom: 4.5%;
  justify-content: space-around;
  color: #404041;
}

.header__name {

}

.winner__name {
  color: #6E6E6E;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

.winner__status {
  color: #6E6E6E;
  font-size: 33px;
  font-weight: 200;
  text-align: center;
  margin: 3% 0;
}

footer {
  border-top: 1px solid #D0D2D3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

#delete-button {
  border-radius: 50em;
  margin: 0;
  height:2vh;
  text-align: center;
  width: 1.287vw;
}

.winner__p {
  color: #6E6E6E;
  font-weight: lighter;
}

.winner__span {
  color: #404041;
  font-size: 18px;
  font-weight: 700;
}

